# Ignore the account.txt file only in the repository
/Objects/account.txt
**/Blink_com.immediasemi.android.blink/**
**/AutoBackups/**
*.apk
!Github commands.txt
*.txt
*.jar
*.mp4
*.jpg
datastore
# B4R generated build output
/Objects/

# B4A generated build output
/Android Client/Objects/
