<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="cloyd.smart.home.monitor"
	android:versionCode="2088"
	android:versionName="2.0.8.8"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="29"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission
	  android:name="android.permission.WRITE_EXTERNAL_STORAGE"
	  android:maxSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="Smart Home Monitor"
		android:theme="@style/MyAppTheme"
		android:largeHeap="true">
		
		<service android:name="anywheresoftware.b4a.objects.NotificationListenerWrapper"
		   android:label="Smart Home Monitor"
		  android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
		  <intent-filter>
		  <action android:name="android.service.notification.NotificationListenerService" />
		  </intent-filter>
		</service>
		<activity
		  android:name="de.amberhome.objects.preferenceactivity"
		  android:theme="@android:style/Theme.Material.Light">
		</activity>
		<provider
		  android:name="androidx.core.content.FileProvider"
		  android:authorities="cloyd.smart.home.monitor.provider"
		  android:exported="false"
		  android:grantUriPermissions="true">
		  <meta-data
		  android:name="android.support.FILE_PROVIDER_PATHS"
		  android:resource="@xml/provider_paths"/>
		  </provider>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="Smart Home Monitor"
			android:screenOrientation="portrait">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".chart"
			android:label="Smart Home Monitor"
			android:screenOrientation="portrait">
		</activity>
		<service android:name=".smarthomemonitor">
		</service>
		<receiver android:name=".smarthomemonitor$smarthomemonitor_BR">
			<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<service android:name=".notificationservice">
		</service>
		<receiver android:name=".notificationservice$notificationservice_BR">
			<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<service android:name=".httputils2service">
		</service>
		<receiver android:name=".httputils2service$httputils2service_BR">
		</receiver>
	</application>
</manifest>